/* 
    1-common styles
    2-general styles
    3-sections
         3.0- headers
         3.1- home 
         3.2- about 
         3.3- portofolio 
         3.4- service 
         3.5- prices 
         3.6- team 
         3.7- blog page 
         3.8- contact
         3.9- footer 
*/



/* 1- common styles */
/* 
- container
- overlay
- opacity hover
- section header
- section padding
- hover effect 1 (left to right)
- hover effect 2 (top to bottom)
*/

/* 2- general css study */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /*css3 (lw 3mlt padding/border al width myzedsh yakhod mn al width elly mwgod myzwdsh 3la al width elly mwgood) */
}

:root{
    --maincolor : #6195ff;
    --graycolor : #999;
    --whitecolor: #fff
}

a{
    text-decoration: none;
}
.container{
    width: 80%;
    /* height: 20px;
    background-color: red; */
    margin: auto; /*wstn 3onsor block f nos el shasha*/
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8); /* red green blue opacity */
    
}
.hover-opacity{

    transition: opacity .5s; /*y7sl al opacity ama a3ml hover f nos sania(byshtghl 3la kol al 3anaser f lazm a2olo y3ml transition l men belzbt)*/
}

.hover-opacity:hover{
    opacity: 0.8;

}

.ltr-effect , .tb-effect{
    position: relative;
}

.ltr-effect::after , .tb-effect::after{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    z-index: -1;
       
}

.ltr-effect::after{
    width: 0%;
    transition: width 0.5s;
}

.tb-effect::after{
    height: 0%;
    transition: height 0.5s;
}

.ltr-effect:hover:after{
    width: 100%;
}


.tb-effect:hover:after{
    height: 100%;
}


.clear{
    clear: both;
}
h1 , h2, h3 ,h4 ,h5 ,h6{
    font-family: montserrat,sans-serif;
}

button{
    font-family: 'Varela Round', sans-serif;
}

ul{
   list-style: none; 
}

.pd-y{
    padding: 120px 0;
}

.section-header{
    text-align: center;
}
.section-header .section-title{
    font-size: 35px;
    text-transform: capitalize;
}
.section-header .line{
    display: block;
    height: 5px;
    width: 50px;
    background-color: var(--maincolor);
    margin: 0 auto 70px auto;
}