/* 3.8 blog */

.blog{
}

.blog-content{
    overflow: hidden;
}

.blog-item{
    width: 30%;
    float: left;
    background: var(--whitecolor);
}

.blog-item.mg{
    margin: 0 5%;
}

.blog-item-img img{
    width: 100%;
}

.blog-info{
    padding: 20px;    
}

.blog-list{
    list-style: none;
    margin: 10px 0;
}

.blog-list li{
    display: inline-block;
    margin: 0px 5px;
}

.blog-list li i{
    color: var(--maincolor);
}

.blog-title{
    font-weight: bold;
    margin: 20px 0;
}

.blog-desc{
    color: var(--graycolor);
    margin-bottom: 10px;
    line-height: 1.5;
}

.blog-link{
    color: var(--maincolor);
}